<div class="back">
  <div class="back-front">
    <div class="mains">
      <div>
          <div class="quiznumber">Quiz {{quizNumber}}</div>
          <div id="sub-tpc-div">
            <span>Subject: </span>
            <input [(ngModel)] = "ip_subject" id="input-subject" type="text" style="width:13vw">
            <div style="display:inline-table; float:right;">
              <span>Topic: </span>
              <input [(ngModel)] = "ip_topic" type="text" style="width:13vw"></div>
          </div>
          <table width=100%>
            <tr>
              <td>Question {{numberOfQues}}: </td>
              <td><input required [(ngModel)] = "ip_question" id="question" type="text">
              </td>
            </tr>
            <tr>
              <td>Option 1:</td>
              <td><input [(ngModel)] = "ip_opt1" id="opt1" type="text"></td>
            </tr>
            <tr>
              <td>Option 2:</td>
              <td><input [(ngModel)] = "ip_opt2" id="opt2" type="text"></td>
            </tr>
            <tr>
              <td>Option 3:</td>
              <td><input [(ngModel)] = "ip_opt3" id="opt3" type="text"></td>
            </tr>
            <tr>
              <td>Option 4:</td>
              <td><input [(ngModel)] = "ip_opt4" id="opt4" type="text"></td>
            </tr>
            <tr>
              <td>Answer: </td>
              <td style="text-align: left">
                <input [(ngModel)] = "ip_answer" id="answer" style="width: 4vh; text-align: center; padding: 0" type="text">
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align:end">
                <div>
                <input id="new-question" (click)="addQuestion()" type="submit" value="Add Question">
                </div>
              </td>
            </tr>
          </table>
      </div>
      <div style="display:inline">
        <span>Time Limit(in Mins): </span>
        <input id="ip_timelimit" [(ngModel)]="ip_timelimit" type="number">
        <button id="cancel">Cancel</button>
        <button id="addquiz" (click)="addQuiz()">Add Quiz</button></div>
    </div>
  </div>
</div>