<div class="component-back">
    <div class="list-title">
      Teachers List
    </div>
    <div class="list-back">
      <perfect-scrollbar>
        <ul>
          <li *ngFor="let teacher of teachers">
            <div class="card">
              <div class="img-back">
                <img src="../../../../assets/profile.png">
              </div>
              <div class="name-div">
                {{teacher.name}}
                <br><br>
                0 quizzes published.
              </div>
            </div>
          </li>
        </ul>
      </perfect-scrollbar>
    </div>
  </div>