container-main {
	width: 100%;
	margin: 0 auto; 
}

.login_back{
	width: 100%;
	min-height: 100vh;
	background: url('../../../../assets/main_background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	float: center;
  	position: relative;
	z-index: 1;
	overflow: hidden;
}

.login_back::before {
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	/*background-color: rgba(255,255,255,0.2);*/
	top:0;
	left:0;
	position: absolute;
	z-index: -1;
}

.login_box {
	width: 35vw;	
	height: 70vh;
	border-radius: 1.5vw;
	overflow: hidden;
	padding: 50px 50px 35px 50px;
	background: linear-gradient(165deg, #0051C2, #00CBFF);
	background: -webkit-linear-gradient(165deg, #0051C2, #00CBFF); /*#0E85E8);*/
	background: -moz-linear-gradient(165deg, #00CBFF, #0051C2);
}

.title-logo {
	width: 100%;
	height: 10vh;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#justaspan {
	border: 2px solid black;
	width: 100%;
	height: 7vh;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h2#title  {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Roboto, Helvetica,Verdana;
	font-size: 3.5vh;
}
h2#sub {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Roboto, Helvetica,Verdana;
	font-size: 2.2vh;	
}
div.title {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.circle {
	display: block;
	width: 5vw;
	height: 5vw;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-radius: 3vw;
	border-color: white;
	border-style: solid;
	background-color: white;
}
input.input_email, input.input_password{
	border-radius: 0 6px 6px 0;
	border-style: solid;
	border-color: white;
	border-width: 2px 2px 2px 0;
	align-content: center;
	width: 20vw;
	height: 5vh;
	align-items: center;
	padding: 1px 8px;
	/*transition: border-color 0.3s;
	-webkit-transition: border-color box-shadow 0.3s;*/
	vertical-align: middle;
}
/* input:-webkit-autofill {
	-webkit-background: url('../../assets/baseline_person_black_18dp.png') no-repeat scroll 7px 7px !important;
} */
input.input_email:focus, input.input_password:focus{
	outline: none;
	border-width: 2px 2px 2px 0;
	border-radius: 0 6px 6px 0;
	border-left-style: none; 
	/*box-shadow: 1px 1px 5px #FFB119, 0 -1px 5px #FFB119;*/
	border-style: solid;
	border-color: white;
}

input#login-button {
	margin-top: 3vh;
	font-size: 16px;
	font-weight: bolder;
	padding: 14px;
	width: 130px;
	content: black;
	background: white;
	border-radius: 36px;
	border:none;
	transition: box-shadow 0.2s ease-in;
}

input#login-button:hover {
	box-shadow: 0 0 5px 2px black;
}
input#login-button:active {
	box-shadow: none;
	outline: none;
	border:none;
}

img.icon {
	width: 18px;
	padding: 0 8px 0 4px; 
}
#huh, #huh2{
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#huh2 {
	padding: 1px 0 1px 2px;
	border-radius: 6px 0 0 6px;
	border-width: 2px 0 2px 2px;
	border-style: solid;
	border-color: white;
	height: 5vh;
	background-color: white;
}