<div class="main-div flex-container">
    <div class="support-flex">
      <div class="flex">
        <div id="profile-picture-back">
          <img id="profile-picture" src="../../../../assets/profile.png">
        </div>
        <div>
          <div class="name">
            Aditya Pingle
          </div>
          <div class="email">
            adityapingle90@gmail.com
          </div>
        </div>
      </div>
      <div id="button-layout">
        <button id="edit-profile">Edit Profile</button>
        <button id="change-password">Change Password</button>
        <button id="logout-button">Log Out</button>
      </div>
    </div>
  </div>
  <app-teacher-list></app-teacher-list>