<div class="container-main">
	<div class="login_back">
		<div class="login_box">
			<div class="title-logo">
				<div class="circle">
					<img src="../../../../assets/round_question_answer_black_48dp.png" width="50%">
				</div>
			</div>
			<div class="title" style="margin-top: 3vh;">
				<h2 id="title">Welcome to Quiz App!</h2>
			</div>
			<div class="title" style="margin-top: 2vh;">
				<h2 id="sub">Login to continue...</h2>
			</div>
			<div id="huh" style="margin-top: 3vh;">
				<form method="post" (submit)="register($event)">
					<table style="width:100%;" cellspacing="16px" cellpadding="4px">
						<tr>
							<td>
								<div id="huh">
									<div id="huh2"><img class="icon" src="../../../../assets/baseline_person_black_18dp.png"></div>
									<input class="input_name form-control validate-input" placeholder="Name" type="name" name="name" required>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div id="huh">
									<div id="huh2"><img class="icon" src="../../../../assets/round_email_black_24dp.png"></div>
									<input class="input_email form-control validate-input" placeholder="Email" type="email" name="email" required>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div id="huh">
									<div id="huh2"><img class="icon" id="password" src="../../../../assets/round_lock_black_24dp.png"></div>
									<input class="input_password" type="password" name="password" placeholder="Password" required>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div id="huh">
									<input id="login-button" type="submit" value="Login">
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>