body {
  margin:0;
  padding:0;
  width: 100vw;
  height: 100vh;
  /*background: linear-gradient(to bottom right, red, purple, blue) no-repeat fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;*/
  overflow: hidden;
}
* {
  font-family: Roboto, Helvetica,Verdana;
}
/* You can add global styles to this file, and also import other style files */
