.flex-container {
    display: flex;
    justify-content: space-evenly;
}
.background {
    background: url("../../../../assets/main_background.png") no-repeat;
    background-size: cover;
}
#quizbutton{
    margin: 0 auto;
}